@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css");

$mdc-theme-primary: #03A9F4;
$mdc-theme-on-primary: #FFFFFF;
$mdc-theme-background: #303F9F;

@import "@material/button/mdc-button";
@import "@material/textfield/mdc-text-field";
@import "@material/list/mdc-list";
@import "@material/card/mdc-card";

html {
  height: 100%;
  background-color: $mdc-theme-background;
  color: $mdc-theme-on-primary
}

body {
  height: 85vh;
  font-family: 'Roboto';
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding-top: 0.1px;
}

.header {
  text-align: center;
}

.page-1 {
  .username {
    display: block;
    width: 300px;
    margin: 20px auto;
  }
  .button-container {
    display: flex;
    justify-content: flex-end;
    width: 300px;
    margin: auto;
    button {
      margin: 3px;
    }
  }
}

.page-2 {
  display: none;
  .button-container {
    margin: 50px auto auto auto;
    display: flex;
    justify-content: center;
    width: 100%;
    button {
      height: 100px;
      width: 300px;
      border-radius: 50px;
      margin: 3px;
    }
  }
}

.page-3 {
  .mdc-card {
    background-color: $mdc-theme-primary;
    width: 300px;
  }
  .mdc-list {
    .mdc-list-item {
      & > .left {
        max-width: 220px;
        overflow-x: hidden;
      }
      justify-content: space-between;
      padding-right: 30px;
    }
  }
}
